.profile {
  width: 1000px;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  width: 500px;
  box-shadow: 0 0 10px #c6cccced;
  border-radius: 10px;
  border: 2px solid black;
  margin: 50px auto;
  overflow: hidden;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: #7e6f7498 solid 2px;
}

.image {
  width: 300px;
  box-shadow: 0 0 3px 0px #0000004d;
  border-radius: 50%;
  padding: 20px 10px 0px 10px;
  margin-bottom: 15px;
  background-color: #3a3637;
}

.name {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 15px;
  color: black;
}

.tag {
  font-weight: 500;
  font-size: 20px;
  color: #807679;
  margin-bottom: 15px;
}

.location {
  font-weight: 500;
  font-size: 20px;
  color: #807679;
  margin-bottom: 15px;
}

.stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #7e6f7449;
  margin: 0;
  padding: 0;
}

.stats > li {
  display: flex;
  flex-direction: column;
  align-items: center;

  &:not(:last-child) {
    border-right: #7e6f7498 solid 2px;
  }
}

.label {
  font-weight: 600;
  font-size: 20px;
  color: black;
  margin: 10px 0;
}

.quantity {
  font-weight: 700;
  font-size: 20px;
  color: black;
  margin-bottom: 10px;
}
